/* paleta de colores */
.paleta{
    color: #C74620;
    color: #DD5A1A;
    color: #F38A24;
    color: #F8A834;
    color: #EEC196;
    color: #FDEAD0;
    
    color: #9F774C;
    color: #906D47;
    color: #6E4C31;
    color: #4A2423;
    color: #452122;





}