.container {
  background-color:#faf2d688;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.container>div,
.container>div>ul{
  margin: 1rem;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container>div>ul>li,
.container>div {
  padding: 0rem 2rem;
  list-style: none;
  text-decoration: none;
}


.link {
  text-decoration: none;
  color: #4A2423;
}

.mgn {
  margin: 0 .5rem;
}

.logoUser > a{
  height: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;
}

.logoUser span{
  padding-left: .5rem;
  color: #4A2423;
}

.logout{
  border: none;
  border-radius: 0;
  background-color: transparent;
  font: inherit;
  color: #4A2423;
  cursor: pointer;
}