/* --colorPink01:'#ec4e70'; 
--colorPink02:'#f0caca';
--colorPink03:'#f6e0e0';
--colorViolet01:'#794dff';
--colorViolet02:'#c7baf2';
--colorViolet03:'#dfd7f7';
--colorBlue01:'#00b0f0';
--colorBlue02:'#a2d8ec';
--colorBlue03:'#c9e9f4';
--colorAmber01:'#e69500';
--colorAmber02:'#e9cfa2';
--colorAmber03:'#f2e3c9';
--colorGren01:'#2cbc9d';
--colorGren02:'#7dd0be';
--colorGren03:'#ace1d6';
--color11:'#e9f3f3'
*/

/*------ Contenedores ------*/

.productContainer {
  margin: 1rem .5rem;
  width: 300px;
  background-color: #fff4c8;
  border: 1px solid #ffe4ab;
  border-radius: 10px;
  transition: box-shadow 150ms ease-in-out,
              transform 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.productContainer:hover{
  box-shadow: 1px 1px 10px #9F774C88;
  transform: scale(1.005);
}

.title{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #333;
  margin: 0;
}

.subtitle{
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.imageContainer{
  width: 100%;
  position: relative;
  overflow:hidden;
}

.imageProduct{
  border-radius: 10px;
}

.imagewidthoutProduct{
  border-radius: 10px;
  opacity: .5;
}


.checkedIcon{
  position: absolute;
  padding: 2px;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: #176d2e;
  background-color: #fff4;
  border-radius: 50%;
}

.discountTxt,
.withoutTxt{
  position: absolute;
  padding: 5px 10px;
  right: 15px;
  bottom: 5px;
  font-size: .8rem;
  background-color: rgb(65, 177, 214);
  border-radius: 3px;
}

.discountTxt > p,
.withoutTxt > p{
  padding: 0;
  margin: 0;
  color: #eee;
  font-weight: bolder;
}

.withoutTxt{
  padding: 0.2rem;
  text-align: center;
  width: 150px;
  height: 1.5rem;
  left: 15px;
  top: 190px;
  background-color: rgb(255, 98, 25);
  z-index:100;
  transform-origin: 0 0;
  transform: rotate(-45deg) ;
}
.withoutTxt > p{
  color: #ffbbab;
}


.buyContent {
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.price,
.priceRow,
.finalPrice {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight:lighter;
}

.priceRow {
  font-size: 1.5rem;
  text-decoration: line-through;
}
.finalPrice{
  font-style: italic;
  font-weight:200;
}

.discountPrice{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight:lighter;
}
.btn,
.btnWithoutStock{
  background-color: #DD5A1Add;
  color: #FDEAD0;
  border: none;
  padding: 5px;
  margin: 5%;
  width: 90%;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.btnWithoutStock{
  background-color: #888d;
  cursor:none;
}

@media(min-width:576px) {

  .productContainer{
    margin: 1rem;
  }

  .title {
    padding: 1rem .5rem;
  }

  .subtitle{
    padding: 1rem .5rem;
    font-size: 1rem;
    font-weight: normal;
  }
}

@media(min-width:768px) {

  .title{
    padding: .25rem 1rem;
    font-stretch: expanded;
  }

  .subtitle {
    padding: .25rem 1rem;
    font-size: 1rem;
    font-weight: normal;
  }
}


@media(min-width:992px) {
  .productContainer {
    height: auto;
  }
}

@media(min-width:1200px) {}


.modalWindow {
  height: auto;
  width: 100%;
}